<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Subject display</title>
    <style type="text/css">
      body {
        background: #000;
        color: #fff;
      }
      .center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        transform: translate(-50%, -50%);
      }
      #circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
        background: pink;
        border-radius: 50%;
      }
    </style>
  </head>

  <body>
    <div class="center">
      <div id="circle"></div>
    </div>
  </body>
</html>
